* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* as medidas da caixa a partir das bordas */
}

:root {
  font-size: 62.5%; /* acessibility*/
}

body {
  background: #CEC7B3;
  background: -moz-linear-gradient(top, #BB7ACE 0%, #8A97A4 100%, #C59237 100%);
  background: -webkit-linear-gradient(top, #BB7ACE 0%, #8A97A4 100%, #C59237 100%);
  background: linear-gradient(to bottom, #BB7ACE 0%, #8A97A4 100%, #C59237 100%);
  
  font-size: 1.6rem; /* acessibility */
  
  /* para centralizar o meu main na página*/
  display: grid;
  place-items: center;
  height: 100vh;
}

button { 
  /* text */
font-weight: bold;
font-size: 1.6rem;
align-items: center;
border-radius: 0 .4rem .4rem 0;

cursor: pointer;

color: #090909;

background: #e8e8e8;
border: 1px solid #e8e8e8;
transition: all .2s;
box-shadow: 6px 6px 12px #c5c5c5,
            -1px -6px 12px #ffffff;
}

button:active {
color: #666;
box-shadow: inset 4px 4px 12px #c5c5c5,
            inset -4px -4px 12px #ffffff;
}


.hide {
  display: none;
}

main {
  padding: 4.8rem 6.4rem 6.4rem;
  
  background: #FFFFFF;  
  box-shadow: 0px .2rem .4rem rgba(0, 0, 0, 0.1);
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-color: #b6b9bc;
  
  border-radius: .6rem;

  
  width: min(42.8rem, 90%);
  /* pegar o mínimo entre os dois valores que eu vou colocar. 42.8rem para aminha tela inteira e 90% para quando eu acessar no mobile*/
  height: 273.72px;

  /* para centralizar a caixa*/
  margin-top: -12rem;  
  text-align: center;
}


/* screen 1 */


/* Estilização das fontes e positions */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1, p, h2 {
  color: #34355B;
}

body, input, button {
  font-family: 'DM Sans', sans-serif;
}

p {
 opacity: .8;
}

form {
  margin-top: 4.8rem;
  /* para tirar os espaços entre o input e o button */
  display: flex;
  justify-content: center;
}


input, button {
  border: none;
  padding: 1.6rem;

}

input {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-align: center; 

  /* box configutation */
  width: 6.3rem;
  background: #edf0f3;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 6px 6px 12px #c5c5c5,
            -6px -6px 12px #ffffff;
} 

/* screen2 */

h2 {
  font-size: 2.4rem;
  font-weight: normal;

  margin-top: 2rem ;
  margin-bottom: 3.3rem;
}

.screen2 button {
border-radius: .4rem;
}

/* animations */

main {
  animation: fromTop .7s /*duration */ 0.2s /*delay*/ backwards 
}

@keyframes fromTop{
  0% {
    opacity: 0.2;
    transform: translateY(-120px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-250px);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
}